body
{
	background: white;
	color: #222;
	cursor: default;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

#wrap
{
  height:100%;
  width: 100%;
  position:absolute;
  left:0;
  top:0;
}

/*****************************************************************************/
/*
/* Stickybar
/*
/*****************************************************************************/
.expstickybar{
  position:fixed;
  color: white;
  padding: 0px;
  right:0; /*horizontally center bar in window*/
  left:0; /*horizontally center bar in window*/
  visibility:hidden;
  z-index: 10000;
  width:auto; /*set width of bar to width of entire window*/
  font-weight:bold;
}

/*****************************************************************************/
/*
/* Map search criterion
/*
/*****************************************************************************/

#map_search
{
  background: #f2f2f2;
  font-family: arial, helvetica, freesans, clean, sans-serif;
  border: 1px solid #E0E0E0;
  border-bottom: 1px solid #C4C4C4;
  margin: 5px auto 5px auto;
  padding: 5px;
  width: 940px;
}

#map_search td
{
  padding: 0px 5px 0px 5px;
  vertical-align: bottom;
}

#map_search input, #map_search select, #map_search input[type="checkbox"]
{
  font-size: 11px;
}

#map_search label
{  
  font-size: 13px;
  font-weight: bold;
  line-height: 12px;  
  color: #595959;
}

#map_search input
{
  width: 80px;
}

#map_search input[type="button"]
{
  float: right;
  width: 100px;
}

#map_search .checkbox_label
{
  font-size: 13px;
  font-weight: normal;
  line-height: 12px;
  color: #595959;
  margin-top: 2px;
  float: left;
}

#map_search input[type="checkbox"]
{
  width: 15px;
  float:left;
}

#map_search .select_label
{
  width:70px;
  float: left;
  font-weight: normal;
  margin-top: 5px;
}

#map_search select
{  
  float:right;
}

/*****************************************************************************/
/*
/* MAP Info window
/*
/*****************************************************************************/
/*#.googft-info-window*/

.googft-info-window .thumbnail {
  width:49%;
  height:200px;
  margin: 0px 5px 0px 0px;
  float:left;
  overflow: hidden;
}

.googft-info-window .thumbnail img {
  width: 100%;
  display:block
}

.googft-info-window .attributes {
  width:50%;
  height: 200px;
  float: right;
}

.googft-info-window .attributes,
.googft-info-window .attributes dl, .googft-info-window .attributes dt, .googft-info-window .attributes dd {
  margin:  0px;
  padding: 0px;
}

.googft-info-window .attributes dt {
  float:left;  
  font-weight:bold;
  width:92px;
}

.googft-info-window .attributes dd {  
  text-align:left;  
}
 
.googft-info-window .desc {
  width:100%;
  clear: both;
}

.googft-info-window .area {
  width:100%;
  margin: 0px;
  padding: 0px
}

.googft-info-window .area img
{
  display:inline;
  margin: 0px 2px 0px 0px;
}

.googft-info-window .area li
{
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
#header {
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;

  background: #666;
	height: 42px;
	margin: 0 0 0px;
	-moz-box-shadow: 0 1px 3px #444;
	-o-box-shadow: 0 1px 3px #444;
	-webkit-box-shadow: 0 1px 3px #444;
	-khtml-box-shadow: 0 1px 3px #444;
	box-shadow: 0 1px 3px #444;
}

#header h1 {
	margin: 2px 20px 4px -6px;
	position: absolute;
	text-indent: -9999px;
	width: 121px;
}

#header h1 a {
	background: #666 url(../images/amivono_200.png) no-repeat 6px 10px;
	display: block;
	float: left;
	height: 18px;
	overflow: hidden;
	padding: 6px;
	width: 200px;

}

#header h1 a:hover {
/*-moz-box-shadow: 0 1px 2px #333;*/
-moz-opacity:.80;
filter: alpha(opacity=80);
opacity: .80;
}

#header a {
	color: #e2f5ff;
}

#header a:hover {
	color: #fff;
}

.middle {
	margin: 0 auto;
	width: 920px;
}

/* !o Navigation */

#menu {
	-moz-text-shadow: 0 1px 0 #00466c;
	-o-text-shadow: 0 1px 0 #00466c;
	-webkit-text-shadow: 0 1px 0 #00466c;
	-khtml-text-shadow: 0 1px 0 #00466c;
	text-shadow: 0 1px 0 #00466c;
}

#menu {
	padding: 0 0 0 140px;
}

#menu li {
	float: left;
	list-style: none;
	line-height: 42px;
}

#menu .menupop .admin {
	background: url(http://www.gravatar.com/images/gravatar-sprite.png?=2) no-repeat -130px -20px;
	_background-image: url(http://www.gravatar.com/images/gravatar-sprite-ie6.png?=2) !important;
	_background-repeat: repeat !important;
	display: block;
	height: 14px;
	margin: 14px 2px 14px 0;
	width: 10px;
	text-indent: -9999px;
}

#menu li a {
	background: #666;
	background-repeat: no-repeat;
	display: block;
	padding: 0 12px;
}

#menu .menupop.open .submenu_link,
#menu li a:hover {
	background: #666;
}

#menu li li a {
	background: #666;
}

#menu li li a:hover {
	background: #666;
}

#menu .submenu_link {
	background-image: url(http://www.gravatar.com/images/gravatar-sprite.png?=2) !important;
	_background-image: url(http://www.gravatar.com/images/gravatar-sprite-ie6.png?=2) !important;
	background-position: 100% -86px;
	float: left;
	padding-right: 30px;
	position: relative;
	z-index: 101;
}

#menu .menupop.open .submenu_link,
#menu .submenu_link:hover {
	background-position: 100% -128px;
}

#menu .menupop.open .submenu_link {
	_background: #666 url(http://www.gravatar.com/images/gravatar-sprite-ie6.png?=2) 100% -128px !important;
}

#menu .menupop.open .submenu_link {
	cursor: default;
}

#menu .menupop {
	position: relative;
}

#menu .menupop.open ul {
	display: block;
}

/* Help dropdown special settings */

#help.menupop {
	float: right;
	margin: 0 -12px 0 0;
}

#help.menupop .submenu {
	left: auto;
	right: 0;
}

#menu #help .submenu li a {
	padding: 0 9px;
	line-height: 35px;
}

/* Submenu */

#menu .submenu {
	background-color: #666;
	display: none;
	left: 0;
	position: absolute;
	top: 42px;
	width: 220px;
	z-index: 100;
	-moz-box-shadow: 0 1px 3px #444;
	-o-box-shadow: 0 1px 3px #444;
	-webkit-box-shadow: 0 1px 3px #444;
	-khtml-box-shadow: 0 1px 3px #444;
	box-shadow: 0 1px 3px #444;
}

#menu .submenu li {
	display: block;
	float: none;
	margin: 0;
}

/* Welcome message */

#menu #welcome {
	color: #e2f5ff;
	margin: 0 20px 0 0;
}

#menu #welcome a {
/* Resetting */
background: none !important;
display: inline;
padding: 0;
}
#menu .submenu li {
	_overflow: hidden;
	_height: 42px;
}

#menu #help .submenu li {
	_height: 35px
}


/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

#footer
{
  height: 25px;
	width: 100%;
  
  position: fixed;
  bottom: 0px;  
}

#footer #container
{  
  height: 25px;  
  width: 600px;
  margin: auto;
  
  border-top: 1px solid #979795;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;

  line-height: 1;
	font-size: 12px;
	font-family: Tahoma, Arial, sans-serif;

  background: #222221;
  color: #FFF;  

  padding: 2px 0px 0px 5px;  
}

#footer #logo
{
  float: left;  
}

#footer #copyright
{
  font-size: 83%;

  margin-left: 20px;

  float: left;
  padding: 0px;
  margin-top:5px;
}