/*****************************************************************************/
/*
/* Stickybar
/*
/*****************************************************************************/
.expstickybar{
  position:fixed;
  color: white;
  padding: 0px;
  right:0; /*horizontally center bar in window*/
  left:0; /*horizontally center bar in window*/
  visibility:hidden;
  z-index: 10000;
  width:auto; /*set width of bar to width of entire window*/
  font-weight:bold;
}

/*****************************************************************************/
/*
/* Map search criterion
/*
/*****************************************************************************/

#map_search
{
  background: #f2f2f2;
  font-family: arial, helvetica, freesans, clean, sans-serif;
  border: 1px solid #E0E0E0;
  border-bottom: 1px solid #C4C4C4;
  margin: 5px auto 5px auto;
  padding: 5px;
  width: 940px;
}

#map_search td
{
  padding: 0px 5px 0px 5px;
  vertical-align: bottom;
}

#map_search input, #map_search select, #map_search input[type="checkbox"]
{
  font-size: 11px;
}

#map_search label
{
  font-size: 13px;
  font-weight: bold;
  line-height: 12px;
  color: #595959;
}

#map_search input
{
  width: 80px;
}

#map_search input[type="button"]
{
  float: right;
  width: 100px;

  #text-decoration: none;
  #padding: 5px 7px;
  #margin-right: 5px;
}

#map_search .checkbox_label
{
  font-size: 13px;
  font-weight: normal;
  line-height: 12px;
  color: #595959;
  margin-top: 2px;
  float: left;
}

#map_search input[type="checkbox"]
{
  width: 15px;
  float:left;
}

#map_search .select_label
{
  width:70px;
  float: left;
  font-weight: normal;
  margin-top: 5px;
}

#map_search select
{
  float:right;
}

/*****************************************************************************/
/*
/* MAP Info window
/*
/*****************************************************************************/
/*#.googft-info-window*/

.googft-info-window .thumbnail {
  width:49%;
  height:200px;
  margin: 0px 5px 0px 0px;
  float:left;
  overflow: hidden;
}

.googft-info-window .thumbnail img {
  width: 100%;
  display:block
}

.googft-info-window .attributes {
  width:50%;
  height: 200px;
  float: right;
}

.googft-info-window .attributes,
.googft-info-window .attributes dl, .googft-info-window .attributes dt, .googft-info-window .attributes dd {
  margin:  0px;
  padding: 0px;
}

.googft-info-window .attributes dt {
  float:left;
  font-weight:bold;
  width:92px;
}

.googft-info-window .attributes dd {
  text-align:left;
}

.googft-info-window .desc {
  width:100%;
  clear: both;
}

.googft-info-window .area {
  width:100%;
  margin: 0px;
  padding: 0px
}

.googft-info-window .area img
{
  display:inline;
  margin: 0px 2px 0px 0px;
}

.googft-info-window .area li
{
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}
