#content .inner,
#content {
  width: 950px;
}

#content .inner
{
  padding-top: 20px;
}

/**

Slider

**/

.theme-default #slider
{
    margin-bottom: 30px;
    width: 212px;
    height: 324px;
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper
{
    margin-top:150px;
}

.slider-wrapper
{
  float: left;
  width: 212px;
}

/**

Ingress

**/

#ingress-text
{
  float: left;
  width: 600px;  
  margin-left: 60px;
  margin-top: 110px;
  vertical-align: middle;
}

#ingress-text h1
{
  font-family: "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
  font-size: 30px;
  color: black;
  line-height: 44px;
  margin: 0;
  font-weight: normal;
  letter-spacing: -.05em;
}

#ingress-text h3
{
  font-family: "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
  color: #626266;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  font-weight: normal;
  letter-spacing: -.05em;
}

.clear
{
  clear: both;
}
/**

Service description

**/

dl {  
  width: 29%;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

dt{
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.7em;
}

dd{
  font-size: 0.7em;
  line-height: 1.5em;
  
  margin: 0 0 0 0;
  height: 120px;
}

.sprite
{
  background: url('/images/icons/big_preview_webtoys.png') no-repeat top left;
  width: 64px;
  height: 64px;
  float: left;
}

.promotional1
{
  background-position: -791px -14px;
}

.promotional2{
  background-position: -210px -88px;
}

.promotional3{
  background-position: -16px -256px;
}

.promotional4{
  background-position: -336px -20px;
}

.promotional5{
  background-position: -727px -14px;
}

.promotional6{
  background-position: -16px -95px;
}